

<div class="trait_dessus"><hr></div>

<footer id="footer">
   <div class="footer-top">
      <div class="container">
         <div class="row">
            <div class="col-lg-3 col-md-6 footer-newsletter">
               <img src="assets/img/logo.jpeg" class="img-fluid" width=" 46%;" alt="" style="margin-top:-7;">

            </div>
            <div class="col-lg-2 col-md-6 footer-links">
               
               <ul>
                  <li><i class="bx bx-chevron-right"></i> <a href="#">Accueil </a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="#"> Féderation</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="#">Compétition</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="Calendrier">Calendrier</a></li>
               </ul>
            </div>
            <div class="col-lg-2 col-md-6 footer-links">
               
               <ul>
             
                 
                  <li><i class="bx bx-chevron-right"></i> <a href="#">Actualités & Multimedia</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="contact">Contact</a></li>

               </ul>
            </div>

            <div class="col-lg-3 col-md-6 footer-links">
               
               <ul>
             
                  <li><i class="bx bx-chevron-right" style="color: #fff"></i> <a href="#"><i class="bi bi-telephone-fill" style="color: rgb(14, 13, 13);"></i> +216 71 766 471 </a></li>
                  <li><i class="bx bx-chevron-right" style="color: #fff"></i> <a href="#"><i class="bi bi-printer-fill" style="color: rgb(14, 13, 13);"></i> +216 71 753 270</a></li>
                  <li><i class="bx bx-chevron-right" style="color: #fff"></i> <a href="#"><i class="bi bi-envelope-fill" style="color: rgb(14, 13, 13);"></i> info@fttir.com</a></li>
                  <li><i class="bx bx-chevron-right" style="color: #fff"></i> <a  href="#"><i class="bi bi-geo-alt-fill" style="color: rgb(14, 13, 13);"></i> maison des féderations -cité  olympique 6éme etage-1004 tunisie</a></li>
                

               </ul>
            </div>
        
            <div class="col-lg-2 col-md-6 footer-links">
               
               <ul>
             
                  <li><i class="bx bx-chevron-right" style="color: #fff"></i> <a href="https://twitter.com/?lang=fr" class="twitter"><i class="bx bxl-twitter" style="color: rgb(14, 13, 13);"></i></a></li>
                  <li><i class="bx bx-chevron-right" style="color: #fff"></i> <a href="https://fr-fr.facebook.com/Federation.Tunisienne.Tir/" class="facebook"><i class="bx bxl-facebook" style="color: rgb(14, 13, 13);"></i></a></li>
                  <li><i class="bx bx-chevron-right" style="color: #fff"></i> <a href="https://www.instagram.com/?hl=fr" class="instagram"><i class="bx bxl-instagram" style="color: rgb(14, 13, 13);"></i></a></li>
                  <li><i class="bx bx-chevron-right" style="color: #fff"></i> <a href="https://www.youtube.com/" class="instagram"><i class="bi bi-youtube" style="color: rgb(14, 13, 13);"></i></a></li>
               </ul>
            </div>
       
         </div>
      </div>
   </div>
   <div class="container">
      <div class="copyright"> &copy; Copyright  &emsp; &nbsp;<strong><span>2022-2023  &emsp; &nbsp;</span></strong>Fédération Tunisienne de Tir</div>
   </div>
</footer>