
.accordion-button:not(.collapsed) {
    color: black;}
.accordion-item {
    margin:15px 0;
  }
  .accordion-button {
    font: 1rem 'Verdana', sans-serif;
    border:none;
    display:block;
    padding:.5rem;
    padding-left: 35px;
    min-width:50%;
    text-align:left;
    min-height:50px;
    position:relative;
  }
  .accordion-button:before {
      position:absolute;
      top:22px;
      left:15px;
      display: block;
      width:10px;
      height:2px;
      content: "";
      background: #595959;
      -webkit-transition: all 0.1s ease-out;
      -moz-transition: all 0.1s ease-out;
      -ms-transition: all 0.1s ease-out;
      -o-transition: all 0.1s ease-out;
      transition: all 0.1s ease-out;
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      transform: rotate(90deg); 
  }
  .accordion-button:after {
      position:absolute;
      display: block;
      top:22px;
      left:15px;
      width:10px;
      height:2px;
      content: "";
      background: #595959;
  }

  
  .accordion-button.open:before {
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg);
  }
  .accordion-content {
    display:none;
    font: 1rem 'Verdana', sans-serif;
    padding:.5rem;
  }
  .accordion-content.open {
    display:block;
  }
  .accordion-group {
    list-style:none;
  }
  #accordion-button-1 {
    background:none; /* blue */
  }
  #accordion-button-2 {
    background:none; /* purple */
  }
  #accordion-button-3 {
    background:none; /* pink */
  }
  #accordion-button-4 {
    background:none; /* orange */
  }
  #accordion-button-5 {
    background:none; /* yellow */
  }
  #accordion-button-6 {
    background:none; /* yellow */
  }
  #accordion-button-7 {
    background:none; /* yellow */
  }
  #accordion-button-8 {
    background:none; /* yellow */
  }
  #accordion-button-9 {
    background:none; /* yellow */
  }
  #accordion-button-10 {
    background:none; /* yellow */
  }
  #accordion-button-11 {
    background:none; /* yellow */
  }
  #accordion-button-12 {
    background:none; /* yellow */
  }

.issfframe_wrapper.spacing-top {
    margin-top: 10px;
}

.issfframe_title {
    height: auto;
    min-height: 34px;
}

.border_orange_title {
    background-color: #86b7fe;
}

.issfframe_title {
    box-sizing: border-box;
    color: #FFF;
    font-family: ISSFFONTMedium;
    padding-left: 9px;
    padding-right: 8px;
    padding-top: 5px;
    text-transform: uppercase;
    height: 34px;
    font-size: 24px;
}

.issfframe_title + .border_content {
    clear: both;
}

.border_content {
    overflow: visible;
    padding: 5px;
    background-color: #FFF;
    background-color: rgba(255, 255, 255, 0.7);
}

.border_content .border_innerbackground {
    background-color: rgba(255, 255, 255, 0.8);
}

.calendar-list-wrapper {
    margin: 0 9px;
    padding-bottom: 9px;
    padding-top: 9px;
    overflow: hidden;
}


.calendar-list-wrapper .year-wrapper {
    margin-bottom: 8px;
}

.calendar-list-wrapper .yearselect p {
    display: inline-block;
    color: #86b7fe;
    font-weight: bold;
    margin-right: 10px;
}

.calendar-list-wrapper .yearselect select {
    width: auto;
    display: inline;
    padding-left: 8px;
    padding-right: 5px;
}

.form-control {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgb(0 0 0 / 8%) inset;
    color: #404040;
    display: block;
    font-size: 14px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.calendar-list-wrapper .currentyear {
    text-align: right;
}

.calendar-list-wrapper .currentyear span {
    color: #86b7fe;
    font-size: 40px;
    font-weight: normal;
}

.calendar-list-wrapper .filter {
    margin-bottom: 5px;
}

.calendar-list-wrapper .filter label {
    margin-left: 0.25rem;
    margin-right: 1rem;
}

.calendar-list {
    overflow: hidden;
}

.calendar-list .month {
    margin-top: 15px;
}

.calendar-list .monthheader {
    color: #86b7fe;
    font-weight: bold;
    padding-bottom: 3px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

.calendar-list .monthheader.collapsed::after {
    content: "\f107";
}

.calendar-list .monthheader::after {
    content: "\f106";
}
