



 <div  style="
 margin-top: 9%;">
 <div class="issfframe_wrapper border_orange_wrapper spacing-top">
    <div class="issfframe_title border_orange_title">Calendar List</div>
    <div class="border_content">
        <div class="border_innerbackground">
        <div class="calendar-list-wrapper">
            <div class="row year-wrapper">
            <div class="col-7 yearselect" style="width: 18%;"><p>CHOOSE</p>
            

            
                <select name="forma" onchange="location = this.value;">
                   
                    <option value="/calendrier2022">2022</option>
                    <option value="/Calendrier" selected>2023</option>
                    <option value="/calendrier2024">2024</option>
                </select>
</div>

<div class="col-7 yearselect"><p>Type Chompionnat</p>
            

            
    <select name="forma" onchange="location = this.value;">
       
        <option  value="/Calendrier" selected>Chompionnat Tir a L’arc</option>
        <option value="/Calendrier">Chompionnat air Comprimé</option>
        <option  value="/Calendrier">Chompionnat BALL –Trap</option>
    </select>
  </div>
<div class="col-5 currentyear">

</div></div>
<div class="row filter">
    <ul aria-label="Accordion group - Dad Jokes" class="accordion-group">
        <li class="accordion-item">
          <button id="accordion-button-1" aria-controls="accordion-content-1" class="accordion-button" aria-expanded="false"><span class="indicator"></span>  janvier</button>
          <div id="accordion-content-1" class="accordion-content" aria-hidden="true">"
            <div class="cship-wrapper collapse show" id="monthcship_1" style="">
                <div class="cship" data-cship-type="intcship" style="">
                    <div class="row">
                        <div class="col-4 order-2 col-sm-3 order-sm-2 col-md-2 order-md-1 col-lg-2 date" style="color: black;">10.01.2023 </div>
                        <div class="order-2 order-sm-1 col-md-7 order-md-2 col-lg-8 title"><a routerLink="/championnat" target="_self">Fédération Tunisienne de Tir &emsp; &nbsp; </a> <a routerLink="" target="_self" style="color: black;">3eme Tour </a></div>

                      
                    </div>
                    <div class="row">
                        <div class="col-4 order-2 col-sm-3 order-sm-2 col-md-2 order-md-1 col-lg-2 date" style="color: black;">11.01.2023 </div>
                        <div class="order-2 order-sm-1 col-md-7 order-md-2 col-lg-8 title"><a routerLink="/championnat" target="_self">Fédération Tunisienne de Tir &emsp; &nbsp; </a> <a routerLink="" target="_self" style="color: black;">1 er Tour &emsp; &nbsp; Club abdallah Farhat &emsp; &nbsp; Rades</a></div>

                      
                    </div>
                  
                </div>
        
             
        </div>
          </div>
        </li>
        <li class="accordion-item">
          <button id="accordion-button-2" aria-controls="accordion-content-2" class="accordion-button" aria-expanded="false"> février</button>
          <div id="accordion-content-2" class="accordion-content" aria-hidden="true"><div class="cship-wrapper collapse show" id="monthcship_1" style="">
            <div class="cship" data-cship-type="intcship" style="">
                <div class="row">
                    <div class="col-4 order-2 col-sm-3 order-sm-2 col-md-2 order-md-1 col-lg-2 date" style="color: black;">04.02.2023</div>
                    <div class="order-1 order-sm-1 col-md-7 order-md-2 col-lg-8 title"><a routerLink="/championnat" target="_self">Cub De Tir - Monastir </a> <a routerLink="" target="_self" style="color: black;"> &emsp; &nbsp; 1eme Tour &emsp; &nbsp; Salle  &emsp; &nbsp; Fédéral BENI KHAKLED</a></div>
                  
                </div>
                <div class="row">
                    <div class="col-4 order-2 col-sm-3 order-sm-2 col-md-2 order-md-1 col-lg-2 date" style="color: black;">11.02.2023</div>
                    <div class="order-1 order-sm-1 col-md-7 order-md-2 col-lg-8 title"><a routerLink="/championnat" target="_self">Ball-TRAP &emsp; &nbsp; Association Reg des chasseurs  &emsp; &nbsp; -Nabeul </a> <a routerLink="" target="_self" style="color: black;">2eme Tour &emsp; &nbsp;ZAMOU </a></div>

                  
                </div>
                <div class="row">
                    <div class="col-4 order-2 col-sm-3 order-sm-2 col-md-2 order-md-1 col-lg-2 date" style="color: black;">13.02.2023</div>
                    <div class="order-1 order-sm-1 col-md-7 order-md-2 col-lg-8 title"><a routerLink="/championnat" target="_self" style="color: black;">2eme Tour  </a></div>

                </div>
                <div class="row">
                    <div class="col-4 order-2 col-sm-3 order-sm-2 col-md-2 order-md-1 col-lg-2 date" style="color: black;">14.02.2023</div>
                    <div class="order-1 order-sm-1 col-md-7 order-md-2 col-lg-8 title"><a routerLink="/championnat" target="_self" style="color: black;">2eme Tour  </a></div>

                </div>
                <div class="row">
                    <div class="col-4 order-2 col-sm-3 order-sm-2 col-md-2 order-md-1 col-lg-2 date" style="color: black;">18.02.2023</div>
                    <div class="order-1 order-sm-1 col-md-7 order-md-2 col-lg-8 title"><a routerLink="/championnat" target="_self" >ESKIT OLYMPIQUE CLUB TUNIS de Tir  </a> <a routerLink="" target="_self" style="color: black;">2eme Tour   &emsp; &nbsp; Rades</a></div>

                </div>
                <div class="row">
                    <div class="col-4 order-2 col-sm-3 order-sm-2 col-md-2 order-md-1 col-lg-2 date" style="color: black;">22.02.2023</div>
                    <div class="order-1 order-sm-1 col-md-7 order-md-2 col-lg-8 title"><a routerLink="/championnat" target="_self" >Union Sportif tunisien de police et reforme  </a> <a routerLink="" target="_self" style="color: black;">5eme Tour  </a></div>

                </div>

                <div class="row">
                    <div class="col-4 order-2 col-sm-3 order-sm-2 col-md-2 order-md-1 col-lg-2 date" style="color: black;">23.02.2023</div>
                    <div class="order-1 order-sm-1 col-md-7 order-md-2 col-lg-8 title"><a routerLink="/championnat" target="_self" > Fédération Tunisienne de Tir </a> <a routerLink="" target="_self" style="color: black;">2eme Tour &emsp; &nbsp; Salle Fédéral BENI KHAKLED  </a></div>

                </div>

                <div class="row">
                    <div class="col-4 order-2 col-sm-3 order-sm-2 col-md-2 order-md-1 col-lg-2 date" style="color: black;">25.02.2023</div>
                    <div class="order-1 order-sm-1 col-md-7 order-md-2 col-lg-8 title"><a routerLink="/championnat" target="_self" > TRAP olympique Club Abdallah FARHAT </a> <a routerLink="" target="_self" style="color: black;">2eme Tour &emsp; &nbsp; Rades </a></div>

                </div>

          
            </div>
        
         
        </div></div>
        </li>
        <li class="accordion-item">
          <button id="accordion-button-3" aria-controls="accordion-content-3" class="accordion-button" aria-expanded="false">  mars</button>
          <div id="accordion-content-3" class="accordion-content" aria-hidden="true">
            <div class="cship-wrapper collapse show" id="monthcship_1" style="">
                <div class="cship" data-cship-type="intcship" style="">
                    <div class="row">
                        <div class="col-4 order-2 col-sm-3 order-sm-2 col-md-2 order-md-1 col-lg-2 date" style="color: black;">04.03.2023</div>
                        <div class="order-1 order-sm-1 col-md-7 order-md-2 col-lg-8 title"><a routerLink="/competitions/venue.ashx?cshipid=979" target="_self">ESKIT Association Reg des chasseurs Monastir  </a> <a routerLink="" target="_self" style="color: black"> &emsp; &nbsp;  3eme Tour  &emsp; &nbsp; Jammel </a></div>
                    </div>
                    <div class="row">
                        <div class="col-4 order-2 col-sm-3 order-sm-2 col-md-2 order-md-1 col-lg-2 date" style="color: black;">11.03.2023</div>
                        <div class="order-1 order-sm-1 col-md-7 order-md-2 col-lg-8 title"><a routerLink="/competitions/venue.ashx?cshipid=979" target="_self">BALL-TRAP Club de TIR -BENI HASSEN  </a> <a routerLink="" target="_self" style="color: black"> &emsp; &nbsp;  3eme Tour  &emsp; &nbsp;Pâturages KORBAA </a></div>
                    </div>
                    <div class="row">
                        <div class="col-4 order-2 col-sm-3 order-sm-2 col-md-2 order-md-1 col-lg-2 date" style="color: black;">18.03.2023</div>
                        <div class="order-1 order-sm-1 col-md-7 order-md-2 col-lg-8 title"><a routerLink="/competitions/venue.ashx?cshipid=979" target="_self">TRAP OLYMPIQUE Club Abdallah FARHAT </a> <a routerLink="" target="_self" style="color: black"> &emsp; &nbsp;  3eme Tour  &emsp; &nbsp;Rades </a></div>
                    </div>
                    <div class="row">
                        <div class="col-4 order-2 col-sm-3 order-sm-2 col-md-2 order-md-1 col-lg-2 date" style="color: black;">25.03.2023</div>
                        <div class="order-1 order-sm-1 col-md-7 order-md-2 col-lg-8 title"><a routerLink="/competitions/venue.ashx?cshipid=979" target="_self">Fédération Tunisienne de Tir</a> <a routerLink="" target="_self" style="color: black"> &emsp; &nbsp;  3eme Tour &emsp; &nbsp;Salle Fédéral BENI KHAKLED </a></div>
                    </div>
                    <div class="row">
                        <div class="col-4 order-2 col-sm-3 order-sm-2 col-md-2 order-md-1 col-lg-2 date" style="color: black;">26.03.2023</div>
                        <div class="order-1 order-sm-1 col-md-7 order-md-2 col-lg-8 title"><a routerLink="/competitions/venue.ashx?cshipid=979" target="_self">Fédération Tunisienne de Tir </a> <a routerLink="" target="_self" style="color: black"> &emsp; &nbsp;  3eme Tour &emsp; &nbsp;Salle Fédéral BENI KHAKLED </a></div>
                    </div>
                </div>
            
             
            </div>
          </div>
        </li>
        <li class="accordion-item">
          <button id="accordion-button-4" aria-controls="accordion-content-4" class="accordion-button" aria-expanded="false">  avril</button>
          <div id="accordion-content-4" class="accordion-content" aria-hidden="true"><div class="cship-wrapper collapse show" id="monthcship_1" style="">
            <div class="cship" data-cship-type="intcship" style="">
                <div class="row">
                    <div class="col-4 order-2 col-sm-3 order-sm-2 col-md-2 order-md-1 col-lg-2 date" style="color: black;">25.03.2023</div>
                    <div class="order-1 order-sm-1 col-md-7 order-md-2 col-lg-8 title"><a routerLink="/championnat" target="_self">Fédération Tunisienne de Tir</a>  <a routerLink="" target="_self" style="color: black;">3eme Tour &emsp; &nbsp;Salle Fédéral BENI KHAKLED </a></div>
                </div>
                <div class="row">
                    <div class="col-4 order-2 col-sm-3 order-sm-2 col-md-2 order-md-1 col-lg-2 date" style="color: black;">26.03.2023</div>
                    <div class="order-1 order-sm-1 col-md-7 order-md-2 col-lg-8 title"><a routerLink="/championnat" target="_self">Fédération Tunisienne de Tir</a>  <a routerLink="" target="_self" style="color: black;">3eme Tour &emsp; &nbsp;Salle Fédéral BENI KHAKLED </a></div>
                </div>
                <div class="row">
                    <div class="col-4 order-2 col-sm-3 order-sm-2 col-md-2 order-md-1 col-lg-2 date" style="color: black;">29.03.2023</div>
                    <div class="order-1 order-sm-1 col-md-7 order-md-2 col-lg-8 title"><a routerLink="/championnat" target="_self">Union Sportif tunisien de police et reforme</a>  <a routerLink="" target="_self" style="color: black;">5eme Tour &emsp; &nbsp;Salle Fédéral BENI KHAKLED </a></div>
                </div>
                <div class="row">
                    <div class="col-4 order-2 col-sm-3 order-sm-2 col-md-2 order-md-1 col-lg-2 date" style="color: black;">30.04.2023</div>
                    <div class="order-1 order-sm-1 col-md-7 order-md-2 col-lg-8 title"><a routerLink="/championnat" target="_self">TRAP OLYMPIQUE CLUB ABDALLAH FARHAT</a>  <a routerLink="" target="_self" style="color: black;">4eme Tour &emsp; &nbsp;RADES </a></div>
                </div>
              
            </div>
        
         
        </div></div>
        </li>  
          <li class="accordion-item">
          <button id="accordion-button-5" aria-controls="accordion-content-5" class="accordion-button" aria-expanded="false">  mai</button>
          <div id="accordion-content-5" class="accordion-content" aria-hidden="true"><div class="cship-wrapper collapse show" id="monthcship_1" style="">
            <div class="cship" data-cship-type="intcship" style="">
                <div class="row">
                    <div class="col-4 order-2 col-sm-3 order-sm-2 col-md-2 order-md-1 col-lg-2 date" style="color: black;">06.05.2023</div>
                    <div class="order-1 order-sm-1 col-md-7 order-md-2 col-lg-8 title"><a routerLink="/championnat" target="_self">ESKIT OLYMIQUE Club de tir -Sousse</a>  <a routerLink="" target="_self" style="color: black;">4eme Tour &emsp; &nbsp; HNIA KALAA KBIRA </a></div>
                </div>
               
                <div class="row">
                    <div class="col-4 order-2 col-sm-3 order-sm-2 col-md-2 order-md-1 col-lg-2 date" style="color: black;">13.05.2023</div>
                    <div class="order-1 order-sm-1 col-md-7 order-md-2 col-lg-8 title"><a routerLink="/championnat" target="_self">BALL TRAP Association Reg des Chasseurs - Bizerte</a>  <a routerLink="" target="_self" style="color: black;">4eme Tour  &emsp; &nbsp; BOUZERIA </a></div>
                </div>
              
                <div class="row">
                    <div class="col-4 order-2 col-sm-3 order-sm-2 col-md-2 order-md-1 col-lg-2 date" style="color: black;">16.05.2023</div>
                    <div class="order-1 order-sm-1 col-md-7 order-md-2 col-lg-8 title">  <a routerLink="/championnat" target="_self" style="color: black;">&emsp; &nbsp; &emsp; &nbsp; 6eme Tour &emsp; &nbsp;  </a></div>
                </div>
                <div class="row">
                    <div class="col-4 order-2 col-sm-3 order-sm-2 col-md-2 order-md-1 col-lg-2 date" style="color: black;">17.05.2023</div>
                    <div class="order-1 order-sm-1 col-md-7 order-md-2 col-lg-8 title">  <a routerLink="/championnat" target="_self" style="color: black;">&emsp; &nbsp; &emsp; &nbsp; 6eme Tour &emsp; &nbsp;  </a></div>
                </div>
                <div class="row">
                    <div class="col-4 order-2 col-sm-3 order-sm-2 col-md-2 order-md-1 col-lg-2 date" style="color: black;">20.05.2023</div>
                    <div class="order-1 order-sm-1 col-md-7 order-md-2 col-lg-8 title"><a routerLink="/championnat" target="_self">ESKIT OLYMPIQUE Association reg des chasseurs- Monastir</a>  <a routerLink="" target="_self" style="color: black;">5eme Tour  &emsp; &nbsp; Jammel</a></div>
                </div>
                <div class="row">
                    <div class="col-4 order-2 col-sm-3 order-sm-2 col-md-2 order-md-1 col-lg-2 date" style="color: black;">27.05.2023</div>
                    <div class="order-1 order-sm-1 col-md-7 order-md-2 col-lg-8 title"><a routerLink="/championnat" target="_self">TRAP OLYMIQUE- club Abdallah Farhat</a>  <a routerLink="" target="_self" style="color: black;">5eme Tour  &emsp; &nbsp; Rades</a></div>
                </div>
            </div>
        
         
        </div></div>
        </li>
        <li class="accordion-item">
            <button id="accordion-button-6" aria-controls="accordion-content-6" class="accordion-button" aria-expanded="false">juin</button>
            <div id="accordion-content-6" class="accordion-content" aria-hidden="true">
                <div class="row">
                    <div class="col-4 order-2 col-sm-3 order-sm-2 col-md-2 order-md-1 col-lg-2 date" style="color: black;">03.06.2023</div>
                    <div class="order-1 order-sm-1 col-md-7 order-md-2 col-lg-8 title"><a routerLink="/championnat" target="_self">BALL –TRAP Club de tir Sousse</a>  <a routerLink="" target="_self" style="color: black;">5eme Tour  &emsp; &nbsp; HNIA –KALAA KBIRA</a></div>
                </div>
                <div class="row">
                    <div class="col-4 order-2 col-sm-3 order-sm-2 col-md-2 order-md-1 col-lg-2 date" style="color: black;">10.06.2023</div>
                    <div class="order-1 order-sm-1 col-md-7 order-md-2 col-lg-8 title"><a routerLink="/championnat" target="_self">TRAP OLYMPIQUE CLUB Abdallah FARTHAT</a>  <a routerLink="" target="_self" style="color: black;">5eme Tour   &emsp; &nbsp; Rades</a></div>
                </div>
                <div class="row">
                    <div class="col-4 order-2 col-sm-3 order-sm-2 col-md-2 order-md-1 col-lg-2 date" style="color: black;">11.06.2023</div>
                    <div class="order-1 order-sm-1 col-md-7 order-md-2 col-lg-8 title"><a routerLink="/championnat" target="_self">TRAP OLYMPIQUE CLUB Abdallah FARTHAT</a>  <a routerLink="" target="_self" style="color: black;">Coupe de Tunisie  &emsp; &nbsp; Rades </a></div>
                </div>
                <div class="row">
                    <div class="col-4 order-2 col-sm-3 order-sm-2 col-md-2 order-md-1 col-lg-2 date" style="color: black;">17.06.2023</div>
                    <div class="order-1 order-sm-1 col-md-7 order-md-2 col-lg-8 title"><a routerLink="/championnat" target="_self"> ESKIT OLYMPIQUE CLUB Abdallah FARTHAT </a>  <a routerLink="" target="_self" style="color: black;">Coupe de Tunisie  &emsp; &nbsp;Rades </a></div>
                </div>
                <div class="row">
                    <div class="col-4 order-2 col-sm-3 order-sm-2 col-md-2 order-md-1 col-lg-2 date" style="color: black;">18.06.2023 </div>
                    <div class="order-1 order-sm-1 col-md-7 order-md-2 col-lg-8 title"><a routerLink="/championnat" target="_self">ESKIT OLYMPIQUE CLUB Abdallah FARTHAT </a>  <a routerLink="" target="_self" style="color: black;">Coupe de Tunisie  &emsp; &nbsp;Rades </a></div>
                </div>

                <div class="row">
                    <div class="col-4 order-2 col-sm-3 order-sm-2 col-md-2 order-md-1 col-lg-2 date" style="color: black;">24.06.2023 </div>
                    <div class="order-1 order-sm-1 col-md-7 order-md-2 col-lg-8 title"><a routerLink="/championnat" target="_self">BALL –TRAP Association Reg des chasseurs –Nabeul </a>  <a routerLink="" target="_self" style="color: black;">Coupe de Tunisie  &emsp; &nbsp;ZAMOU </a></div>
                </div>
            </div>
          </li>
          <li class="accordion-item">
            <button id="accordion-button-7" aria-controls="accordion-content-7" class="accordion-button" aria-expanded="false"> juillet</button>
            <div id="accordion-content-7" class="accordion-content" aria-hidden="true"></div>
          </li>
          <li class="accordion-item">
            <button id="accordion-button-8" aria-controls="accordion-content-8" class="accordion-button" aria-expanded="false">  août</button>
            <div id="accordion-content-8" class="accordion-content" aria-hidden="true"></div>
          </li>
          <li class="accordion-item">
            <button id="accordion-button-9" aria-controls="accordion-content-9" class="accordion-button" aria-expanded="false"> septembre</button>
            <div id="accordion-content-9" class="accordion-content" aria-hidden="true"></div>
          </li>
          <li class="accordion-item">
            <button id="accordion-button-10" aria-controls="accordion-content-10" class="accordion-button" aria-expanded="false">octobre</button>
            <div id="accordion-content-10" class="accordion-content" aria-hidden="true"><div class="cship-wrapper collapse show" id="monthcship_1" style="">
             
            
             
            </div></div>
          </li>
          <li class="accordion-item">
            <button id="accordion-button-11" aria-controls="accordion-content-11" class="accordion-button" aria-expanded="false"> novembre</button>
            <div id="accordion-content-11" class="accordion-content" aria-hidden="true">
           
            </div>
          </li>
          <li class="accordion-item">
            <button id="accordion-button-12" aria-controls="accordion-content-12" class="accordion-button" aria-expanded="false"> décembre</button>
            <div id="accordion-content-12" class="accordion-content" aria-hidden="true"><div class="cship-wrapper collapse show" id="monthcship_1" style="">
           
            
             
            </div></div>
          </li>
      </ul>
   






</div></div>
<div id="content_bottom" class="issfpage content_bottom"></div>
