

<app-navbar></app-navbar>
<section id="events" class="events">
   <div class="" data-aos="fade-up">
     
      <div class="events-slider swiper" data-aos="fade-up" data-aos-delay="100">
         
         <div class="swiper-wrapper">
            <div class="swiper-slide">
               <div  id="hero"  class="row event-item photo1">
                 
               </div>
            </div>
            <div class="swiper-slide">
               <div  id="hero"  class="row event-item photo2 ">
                 
                  
               </div>
            </div>
            <div class="swiper-slide">
               <div  id="hero" class="row event-item photo3">
            
               </div>
            </div>
         </div>
         <div class="swiper-pagination"></div>
      </div>
   </div>
</section>
<main id="main">
   

   <section id="contact" class="contact">
      
      <div class="container" data-aos="fade-up" >
         <div class="row mt-5">
            <div class="col-lg-8 mt-5 mt-lg-0" style="background-color:#dd4b4b;">
               <div class="issfframe_title border_orange_title" style="margin-top: 4.55%;background-color: #dd4b4b">
                  NEWS
                    <p class="links"><a href="/news" target="_self">view all</a></p>
                  </div>
                  <div class="row">
                     <div class="col-lg-4 col-md-6">
                        <div class="member" data-aos="zoom-in" data-aos-delay="100">
                           <img src="assets/img/gallery/news4.jpg" class="img-fluid" alt="">
                           <div class="member-info">
                              <div class="member-info-content">
                                 
                                 <span>préparatoire de la saison sportive 2022-2023</span>
                              </div>

                           </div>
                        </div>
                     </div>
                     <div class="col-lg-4 col-md-6">
                        <div class="member" data-aos="zoom-in" data-aos-delay="200">
                           <img src="assets/img/gallery/news22.jpg" class="img-fluid" alt="">
                           <div class="member-info">
                              <div class="member-info-content">
                                
                                 <span>Le 15ème Championnat d'Afrique de Tir</span>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-4 col-md-6">
                        <div class="member" data-aos="zoom-in" data-aos-delay="300">
                           <img src="assets/img/gallery/news33.jpg" class="img-fluid" alt="">
                           <div class="member-info">
                              <div class="member-info-content">
                                
                                 <span>la journée portes ouvertes du tir, organisée par l'association régionale des chasseurs de l'Etat de Nabeul</span>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
            </div>
            <div class="col-lg-4" style="background-color: #61b24a">
               <div class="info">
                
                  <div class="issfframe_title border_orange_title" style="margin-top: 4.55%;background-color: #61b24a">
                     Photos
                       <p class="links"><a href="/photos" target="_self" style="color: #fff;">view all</a></p>
                     </div>
                     <div class="member" data-aos="zoom-in" data-aos-delay="300">
                        <img src="assets/img/gallery/news44.jpg" class="img-fluid" alt="">
                        <div class="member-info"></div></div>
                                </div>
            </div>
           
         </div>
      </div>
   </section>
    <section id="contact" class="contact ">
       <div class="container" data-aos="fade-up">
       
       </div>
     
       <div class="container" data-aos="fade-up" >
          <div class="row mt-5">
             <div class="col-lg-8 mt-5 mt-lg-0" style="background-color:#5b7fc9">
                <div class="issfframe_title border_orange_title" style="margin-top: 4.55%;background-color: #5b7fc9">
                 Galerie
                     <p class="links"><a href="/photos" target="_self" style="color: #fff;">view all</a></p>
                   </div>
                <div class="row g-0" style="margin-block-end: 3%;">
                   <div class="col-lg-3 col-md-4">
                      <div class="gallery-item"> <a href="assets/img/gallery/news2.jpg" class="gallery-lightbox" data-gall="gallery-item"> <img src="assets/img/gallery/news2.jpg" alt="" class="img-fluid"> </a></div>
                   </div>
                   <div class="col-lg-3 col-md-4">
                      <div class="gallery-item"> <a href="assets/img/gallery/news4.jpg" class="gallery-lightbox" data-gall="gallery-item"> <img src="assets/img/gallery/news4.jpg" alt="" class="img-fluid"> </a></div>
                   </div>
                   <div class="col-lg-3 col-md-4">
                      <div class="gallery-item"> <a href="assets/img/gallery/news33.jpg" class="gallery-lightbox" data-gall="gallery-item"> <img src="assets/img/gallery/news33.jpg" alt="" class="img-fluid"> </a></div>
                   </div>
                   <div class="col-lg-3 col-md-4">
                      <div class="gallery-item"> <a href="assets/img/gallery/news22.jpg" class="gallery-lightbox" data-gall="gallery-item"> <img src="assets/img/gallery/news22.jpg" alt="" class="img-fluid"> </a></div>
                   </div>
                   <div class="col-lg-3 col-md-4">
                      <div class="gallery-item"> <a href="assets/img/gallery/news4.jpg" class="gallery-lightbox" data-gall="gallery-item"> <img src="assets/img/gallery/news4.jpg" alt="" class="img-fluid"> </a></div>
                   </div>
                   <div class="col-lg-3 col-md-4">
                      <div class="gallery-item"> <a href="assets/img/gallery/news22.jpg" class="gallery-lightbox" data-gall="gallery-item"> <img src="assets/img/gallery/news22.jpg" alt="" class="img-fluid"> </a></div>
                   </div>
                   <div class="col-lg-3 col-md-4">
                      <div class="gallery-item"> <a href="assets/img/gallery/news2.jpg" class="gallery-lightbox" data-gall="gallery-item"> <img src="assets/img/gallery/news2.jpg" alt="" class="img-fluid"> </a></div>
                   </div>
                   <div class="col-lg-3 col-md-4">
                      <div class="gallery-item"> <a href="assets/img/gallery/news22.jpg" class="gallery-lightbox" data-gall="gallery-item"> <img src="assets/img/gallery/news22.jpg" alt="" class="img-fluid"> </a></div>
                   </div>
                </div>
             </div>
             <div class="col-lg-4" style="background-color: #dab777;">
                <div class="info">
                 
                   <div class="issfframe_title border_orange_title" style="margin-top: 4.55%;background-color: #dab777;">
                    Calendrier
                    
                        <p class="links"><a href="/Calendrier" target="_self" style="color:#fff;">view all</a></p>
                      </div>
               
                   <div class="container">
                     <mat-card class="demo-inline-calendar-card">
                        <mat-calendar [(selected)]="selected"></mat-calendar>
                      </mat-card>
                      <p>Selected date: {{selected}}</p>
                    </div>               </div>
             </div>
            
          </div>
       </div>
    </section>
 
   
   
    <section id="contact" class="contact">
    
       <div class="container" data-aos="fade-up" >
          <div class="row mt-5">
             <div class="col-lg-8 mt-5 mt-lg-0" style="background-color:#61b24a">
                <div class="issfframe_title border_orange_title" style="margin-top: 4.55%;background-color: #61b24a">
                   Vidéo
                     <p class="links"><a href="/video" target="_self" style="color:#fff ;">view all</a></p>
                   </div>
                   <div class="row" style="    margin-block-end: 2%;">
                      <div class="col-lg-4 col-md-6">
                         <div class="member" data-aos="zoom-in" data-aos-delay="100">
                            <img src="assets/img/gallery/news2.jpg" class="img-fluid" alt="">
           
                         </div>
                      </div>
                      
                      <div class="col-lg-4 col-md-6">
                         <div class="member" data-aos="zoom-in" data-aos-delay="200">
                            <img src="assets/img/gallery/news3.jpg" class="img-fluid" alt="">
    
                         </div>
                      </div>
                      <div class="col-lg-4 col-md-6">
                         <div class="member" data-aos="zoom-in" data-aos-delay="300">
                            
                            <img src="assets/img/gallery/news33.jpg" class="img-fluid" alt="">
                         
                         </div>
                      </div>
                    
                   </div>
             </div>
             <div class="col-lg-4" style="background-color: #dab777;">
                <div class="info">
                 
                   <div class="issfframe_title border_orange_title" style="margin-top: 4.55%;background-color: #dab777;">
                      ÉVÉNEMENTS
                        <p class="links"><a href="/login1" target="_self">view all</a></p>
                      </div>
                      <div class="box" data-aos="zoom-in" data-aos-delay="100">
                         
                         <h5>15ème Championnat d'Afrique de Tir : 16/09/2022</h5>
                         <h5>15ème Championnat d'Afrique de Tir : 16/09/2022</h5>
                         <h5>15ème Championnat d'Afrique de Tir : 16/09/2022</h5>
                        
                      </div>
 
                         
                                 </div>
             </div>
            
          </div>
       </div>
    </section>
 
 
  
   
 
 
     <section id="testimonials" class="testimonials section-bg" style="    margin-top: 2%;">
      <div class="container" data-aos="fade-up">
       
         <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper" >
            
            
               <div class="swiper-slide" >
                  <div class="testimonial-item filtersponsor"  >
                <a href="#">     <img  style="    margin-top: 2%;" src="assets/img/images hm.jpg" class="img-fluid  filtersponsor" width=" 46%;" alt=""></a>

                  </div>
               </div>
               <div class="swiper-slide" >
                  <div class="testimonial-item filtersponsor" >
                    <a> <img style="    margin-top: 2%;" src="assets/img/belleza.jpg" class="img-fluid" width=" 46%;" alt=""></a>

                  </div>
               </div>
            </div>
            <div class="swiper-pagination"></div>
         </div>
      </div>
   </section>
 
  
     
  </main>
  <div class="cookie-container hide">
	<p class="cookie-text">
		We use cookies and similar technologies that are necessary to operate the website. Additional cookies are used to perform analysis of website usage. By continuing to use our website, consent to our use of cookies. For more information, please read our <a href="https://drive.google.com/file/d/1H2Z-zoX9aYWjzZCZwv2FtYc4FE1UmCgW/view?usp=sharing"> Privacy Policy.</a>
	</p>
	<div class="agree">
	<button>OK!</button>
		</div>
</div>
<app-footer></app-footer>
    

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>  