

   <section id="why-us" class="why-us" style="margin-top: 9%;margin-block-end:9%">
      <div class="container" data-aos="fade-up">
         <div class="section-title">
           
            <p>Compétition International</p>
         </div>
         <div class="row" style="    text-align: center;">
            <div class="col-lg-4">
               <div class="box" data-aos="zoom-in" data-aos-delay="100">
                 
                  <h4> <a style="color: rgba(255, 255, 255, 0.8);" routerLink="/ChampionNationalTirArc">Chompionnat  10m  de Tir a L 'arc&emsp; &nbsp;</a> </h4>
               </div>
            </div>
            <div class="col-lg-4 mt-4 mt-lg-0">
               <div class="box" data-aos="zoom-in" data-aos-delay="200">
                 
                  <h4> <a style="color: rgba(255, 255, 255, 0.8);" routerLink="/ChampionNationalAirComprime">Chompionnat  10 m De Tir Air  Comprimé </a></h4>
               </div>
            </div>
            <div class="col-lg-4 mt-4 mt-lg-0">
               <div class="box" data-aos="zoom-in" data-aos-delay="300">
                  
                  <h4> <a style="color: rgba(255, 255, 255, 0.8);" routerLink="/ChampionNationalBallTrap"> Chompionnat   10 m  De BALL -TRAP</a></h4>
               </div>
            </div>
            
         </div>
         <div class="row" style="    text-align: center;">
            <div class="col-lg-4">
               <div style="
               margin-top: 5%;
           " class="box" data-aos="zoom-in" data-aos-delay="100">
                 
                  <h4> <a style="color: rgba(255, 255, 255, 0.8);" routerLink="/ChampionNationalTirArc">Chompionnat  10m  de Tunisie&emsp; &nbsp;</a> </h4>
               </div>
            </div>
        
       
            
         </div>


      </div>


   </section>


