#country-select {
    
    position: relative;
    top: 10.5rem;
    left: 50%;
    transform: translate(0, -50%)
}
.select-lang {
    width: 80px;
    height: 32px;
    line-height: 22px;
    position: relative;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
    overflow: hidden;
    background: rgba(255, 255, 255, 0.5);
}
.btn:hover{
  background-color: #efefef;
}
.select-lang > ::-webkit-scrollbar {
    display: none; /* Chrome Safari */
}
.select-lang .options {
    background: transparent !important;
}
.select-lang::after {
    content: "▼";
    font-size: 0.7em;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(0, -50%);
    color: white;
}

.select-lang:hover::after {
    top: 15%;
    transform: translate(0, -15%);
}

.select-lang:hover {
    overflow:visible;
}
.select-lang:hover .options .option {
    padding: 0 0 5px 0;
}
.select-lang:hover .options .option:last-child {
    padding: 0 0 0 0;
}

.select-lang:hover .options .option label {
    display:inline-block;
    cursor: pointer
}

.select-lang .options .option img {
    width: 3.25rem;
}

.select-lang .options .option label {
    display:none;
}

.select-lang .options .option input {
    width:0;
    height:0;
    overflow:hidden;
    margin:0;
    padding:0;
    float:left;
    display:inline-block;
    position: absolute;
    visibility: hidden;
}

.select-lang .options .option input:checked + label {
    display:block;
    width:100%;
}

.select-lang:hover .options .option input + label {
    display:block;
}


.container .searchInput{
    color: #0078B8;
    background: #fff;
    
    height: 39px;
    margin-top: 0%;
    width: 101%;
    border-radius: 5px;
    position: relative;
    box-shadow: #0078B8;
  }
  
  .searchInput input{
    height: 31px;
    width: 109%;
    margin-left: -11%;
    background: none;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0px 42px 1px 7px;
    font-size: 21px;
    box-shadow: #0078B8;
  }
  
  .searchInput.active input{
    border-radius: 5px 5px 0 0;
  }
  
  .searchInput .resultBox{
    background-color: #fff;
    display: none;
    padding: 0;
    opacity: 0;
    pointer-events: none;
    max-height: 280px;
    overflow-y: auto;
  }
  
  .searchInput.active .resultBox{
    padding: 10px 8px;
    margin-top: -10%;
    opacity: 1;
    display: block;
    pointer-events: auto;
  }
  
  .resultBox li{
    list-style: none;
    padding: 8px 12px;
    display: none;
    width: 100%;
    cursor: default;
    border-radius: 3px;
  }
  
  .searchInput.active .resultBox li{
    display: block;
  }
  .resultBox li:hover{
    background: #efefef;
  }
  
  .searchInput .icon{
    position: absolute;
    right: -2px;
    top: -7px;
    height: 55px;
    width: 55px;
    text-align: center;
    line-height: 55px;
    font-size: 20px;
    color: #0078B8;
    cursor: pointer;
  }		



  div.custom-select 
{
  height: 40px;
  width: 65px;
  position: relative;
  
}

div.selected
{
  width: inherit;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;

}

div.selected > .text
{
  padding: 10px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

div.select-box
{
    display: none;
    width: 84%;
    margin-top: -91%;
    z-index: 10029;
    position: initial;
    border-radius: 3px;
  

}

div.select-box.active
{
  display: block;
}

div.select-box.drop-up
{
  top: auto;
  bottom: 100%;
}

ul.select-list
{
  margin: 0;
  padding: 10px;
  list-style-type: none;
}

ul.select-list li
{
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

ul.select-list li:hover,
ul.select-list li.active
{
  background-color: #999999;
}

.imglanguage{
    width: 25px;
    height: 25px;
 
    margin-bottom: 8px;
    border-radius: 50%;
    border: 2px solid #FFFFFF;
   
   
}






div.custom-selectarab 
{
  height: 40px;
  width: 65px;
  position: relative;
  
}

div.selectedarab
{
  width: inherit;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  margin-left: 61%;
}

div.selectedarab > .text
{
  padding: 10px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

div.select-boxarab
{
    display: none;
    width: 84%;
    margin-top: -91%;
    z-index: 10029;
    position: absolute;
    border-radius: 3px;
    margin-left: 61%;

}

div.select-boxarab.active
{
  display: block;
}

div.select-boxarab.drop-up
{
  top: auto;
  bottom: 100%;
}

ul.select-list
{
  margin: 0;
  padding: 10px;
  list-style-type: none;
}

ul.select-list li
{
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

ul.select-list li:hover,
ul.select-list li.active
{
  background-color: #999999;
}



.margleft{    margin-left: 61%;}
.logoleft{
  margin-left: 700%;
}


.fontnavarab{
  font-size: 24px;
}

.marginleftlogo{
  margin-left: 5%;
}


.marginleftarabnav{
  margin-left: 9%;
}


.textalignarabnav{justify-content: end;}


.textalign{justify-content: space-between;}
.searchInput{  margin-left: 20%;}
.container .searchInput{
  color: #0078B8;
  background: #fff;

  height: 39px;
  margin-top: 0%;
  width: 101%;
  border-radius: 5px;
  position: relative;
  box-shadow: #0078B8;
}


.searchInput.active input{
  border-radius: 5px 5px 0 0;
}

.searchInput .resultBox{
  background-color: #fff;
  display: none;
  padding: 0;
  opacity: 0;
  pointer-events: none;
  max-height: 280px;
  overflow-y: auto;
}

.searchInput.active .resultBox{
  padding: 10px 8px;
  margin-top: -10%;
  opacity: 1;
      margin-block-end: -63%;
  margin-left: -11%;
  width: 109%;
  display: block;
  pointer-events: auto;
}

.resultBox li{
  list-style: none;
  padding: 8px 12px;
  display: none;
  width: 100%;
  cursor: default;
  border-radius: 3px;
  
}

.searchInput.active .resultBox li{
  display: block;
}


.resultBox li:hover{
  background: #efefef;
  
}

.searchInput .icon{
  position: absolute;
  right: -5px;
  top: -11px;
  height: 55px;
  width: 55px;
  text-align: center;
  line-height: 55px;
  font-size: 18px;
  color: #0078B8;
  cursor: pointer;
}		



div.custom-select 
{
height: 40px;
width: 65px;
margin-top: 1%;

position: relative;

}

div.selected
{
width: inherit;
cursor: pointer;
line-height: 20px;
display: inline-block;

}

div.selected > .text
{
padding: 10px;
display: block;
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
}

div.select-box
{
  display: none;
  width: 84%;
  margin-top: -91%;
  z-index: 10029;
  position: initial;
  border-radius: 3px;


}

div.select-box.active
{
display: block;
}

div.select-box.drop-up
{
top: auto;
bottom: 100%;
}

ul.select-list
{
margin: 0;
padding: 10px;
list-style-type: none;
}

ul.select-list li
{
cursor: pointer;
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
}

ul.select-list li:hover,
ul.select-list li.active
{
background-color: #999999;
}


.navbar .resultBox a, .navbar .resultBox a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  color: black;
  white-space: nowrap;
  transition: 0.3s;
  font-size: 21px;
}