
<header id="header" class="fixed-top d-flex align-items-cente">
   <div class="container-fluid container-xl d-flex align-items-center justify-content-lg-between navwidth" style="font-family:Open Sans Condensed">
      <h1 class="logo me-auto me-lg-0"><a href="/body">
         <img src="assets/img/logofinal.png" class="img-fluid" width=" 46%;" alt="">

      </a></h1>
      <nav id="navbar" class="navbar order-last order-lg-0">
         <ul>
            <li><a class="nav-link scrollto" href="/body">Accueil</a></li>
            <li class="dropdown">
               <a ><span>Féderation </span> <i ></i></a>
               <ul>
                  <li><a routerLink="/QuiSommesNous">Qui Sommes Nous</a></li>
                 
                       
                              <li><a routerLink="/StaffTechnique">staff technique </a></li>
      
                          


                           
                                 <li><a routerLink="/StaffAdministratif">staff administratif</a></li>
                             
                      
              
                  <li><a routerLink="/DocumentAdministratif">Document Administratif</a></li>
                  <li><a routerLink="/LePresident">Le Président</a></li>
                  <li><a routerLink="/BureauFediral">Bureau Féderal</a></li>
                  <li><a routerLink="/AnciensPresidents">Anciens Présidents</a></li>
                  <li><a routerLink="/Reunions">Pv des Réunions</a></li>
               </ul>
            </li>
            <li class="dropdown">
               <a ><span>Compétition</span> <i ></i></a>
               <ul>
                
                  <li class="dropdown">
                     <a ><span>Compétition</span> <i class="bi bi-chevron-right"></i></a>
                     <ul>
                      
                        <li class="dropdown">
                           <a routerLink="/formulaire"><span>International</span> <i ></i></a>
                        
                        </li>
                        <li class="dropdown">
                           <a routerLink="/national"><span>National</span> <i ></i></a>
                        
                        </li>

                      
                       
                     </ul>
                  </li> 
                  <li><a href="#">Resultats</a></li>
                  
               </ul>
            </li>
            <li class="dropdown">
               <a><span>Calendrier </span> <i ></i></a>
               <ul>
                  <li><a  href="/Calendrier">Calendrier  </a></li>
                  <li><a routerLink="/Calendrier">Calendrier Air Comprimé</a></li>
                  <li><a routerLink="/Calendrier">Calendrier Tir à l'arc</a></li>
                  <li><a routerLink="/Calendrier">Calendrier Ball trap </a></li>
                 
                 
               </ul>
            </li>
            <li class="dropdown">
               <a ><span>Actualités & Multimedia </span> <i ></i></a>
               <ul>
                  <li><a routerLink="/actualite">Actualités </a></li> 
                  <li><a routerLink="/photos">  Photos</a></li>
                  <li><a routerLink="/video">Videos</a></li>
                 
               </ul>
            </li>
            <li><a class="nav-link scrollto" routerLink="/contact">Contact</a></li>
           
          
           <li class="dropdown" >
            
            <div class="searchInput">
               <input type="text"   placeholder="Rechercher">
               <div   class="resultBox">
                 <!-- here list are inserted from javascript -->
               </div>
              
             
           </div>
        
          </li>
          
        
          
           <li><button type="button" style="       width: 138%;
            margin-left: -68%;
            background: none;
            color: #fff;
            font-size: 123%;" class="btn btn-light" routerLink="/login2" >Espace Club</button></li> 
       
         </ul>
        
         <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
      
     
 
      <a href="#" class=""></a>
   </div>
   <div  class='custom-select ' >
      <div class="selected"   >
          <span class='text'> <img class="imglanguage"  src="https://cdn.countryflags.com/thumbs/france/flag-800.png"></span>
      </div>
      <div class='select-box ' >
          <ul class='select-list'>
             <li data-row='0' data-value='FR'  lang-selection="FR">
               <img class="imglanguage" src="https://cdn.countryflags.com/thumbs/france/flag-800.png">
               
             </li>
             <li data-row='1' data-value='EN'  lang-selection="EN"><img class="imglanguage"  src="https://cdn.countryflags.com/thumbs/united-states-of-america/flag-800.png">
                  
             </li>
             <li data-row='2' data-value='AR'  lang-selection="FR"><img class="imglanguage"  src="assets/img/Tunisia.png"> 
             </li>
          </ul>
      </div>
   </div>
</header>


