
 
 
 

   <section id="chefs" class="chefs" style="margin-top:15%;margin-block-end:10%">
      <div class="container" data-aos="fade-up" style="text-align: center;">
         <div class="section-title">
           
            <p>Vidéos </p>
         </div>
         <div class="row" style="text-align: center;">
            <div class=" col-md-6">
               <div class="member" data-aos="zoom-in" data-aos-delay="100">
                  <iframe src="https://drive.google.com/file/d/1u8rRdyzrOSJ1oWfoY71IESwE49HJm9ZT/preview" width="400" height="280" allow="autoplay"></iframe>                  <div class="member-info">
                     <div class="member-info-content">
                        <h3>1er Tour Du Chomponnat  National de Tir  ai comprimé </h3>

                       
                     </div>
                  </div>
               </div>
          
            </div>
        
          
            <div class=" col-md-6">
               <div class="member" data-aos="zoom-in" data-aos-delay="100">
                  <iframe src="https://drive.google.com/file/d/177SYPIiD-DF2AGegIg20-d6Q6f0okZKI/preview" width="400" height="280" allow="autoplay"></iframe>                       
                  <div class="member-info">
                     <div class="member-info-content">
                        <h3>1er Tour Du Chomponnat  National de Tir  ai comprimé</h3>
                       
                     </div>
                  </div>
               </div>
           
            </div>

       
         </div>
         
      </div>

    
      <div class="row" style="text-align: center;">
         <div class="col-md-6 ">
            <div class="member" data-aos="zoom-in" data-aos-delay="100">
               <iframe src="https://drive.google.com/file/d/16mnmZOhdy6Amx3JRfzQa0rvGIac4kwOY/preview" width="400" height="280" allow="autoplay"></iframe>               <div class="member-info">
                  <div class="member-info-content">
                     <h3>ouverture Salle Fédéral  BENI KHALLED   </h3>
                    
                  </div>
               </div>
            </div>
         
         </div>
         <div class="col-md-6 ">
            <div class="member" data-aos="zoom-in" data-aos-delay="100">
               <iframe src="https://drive.google.com/file/d/1zjhlN4_zGfg-88aiggDnjk6pfwqyl_OH/preview" width="400" height="280" allow="autoplay"></iframe>               <div class="member-info">
                  <div class="member-info-content">
                     <h3>Mot de Président de la comité national  olympique  Tunisienne Mr Meherz BOUSSAYEN a l'occasion de
                        L 'inauguration de salle de TIR </h3>
                    
                  </div>
               </div>
            </div>
        
         </div>


      
        
      </div>
      
      <div class="row" style="text-align: center;">
     
         <div class="col-md-6 ">
            <div class="member" data-aos="zoom-in" data-aos-delay="100">
               <iframe src="https://drive.google.com/file/d/1u8rRdyzrOSJ1oWfoY71IESwE49HJm9ZT/preview" width="400" height="280" allow="autoplay"></iframe>  <div class="member-info">
                  <div class="member-info-content">
                     <h3>Mot de Mr  Kamel DEGUICHE  Ministre de la jeunesse et du sport  a l'occasion de 
                        L'inauguration de salle de TIR </h3>
                    
                  </div>
               </div>
            </div>
        
         </div>

         <div class="col-md-6 ">
            <div class="member" data-aos="zoom-in" data-aos-delay="100">
               <iframe src="https://drive.google.com/file/d/177SYPIiD-DF2AGegIg20-d6Q6f0okZKI/preview" width="400" height="280" allow="autoplay"></iframe>              <div class="member-info">
                  <div class="member-info-content">
                     <h3>Mot de Mr  President de la Fédération Tunisienne de Tir Mr Ridha  MANAAII   a l'occasion de  L'inauguration de salle de TIR   </h3>
                    
                  </div>
               </div>
            </div>
         
         </div>
      
        
      </div>
   </section>



 
 
 


