







 <section id="chefs" class="chefs" style="margin-top: 9%;">
  <div class="container" data-aos="fade-up">
     <div class="section-title" style="text-align: center;">
    
        <p>Documents Administratif</p>

     </div>
     <div class="row">
        <div class="col-lg-4 col-md-6">
           <div class="member" data-aos="zoom-in" data-aos-delay="100">
              <img src="assets/img/formulaire d 'inscription  Saison Sportif 2022.png"  style="zoom: 71%; " class="img-fluid" alt="">
              <div class="member-info">
                 <div class="member-info-content">
                    <h3>
                      formulaire d 'inscription Saison Sportif 2022</h3>
                  
                 </div>
                 <div class="social"><a href="https://drive.google.com/uc?export=download&id=189s0vOfVt-1KWAeSroPDLyTFopqbgMft">  <span>Download</span><i class="bi bi-download"></i> </a> </div>
              </div>
           </div>
        </div>
        <div class="col-lg-4 col-md-6">
           <div class="member" data-aos="zoom-in" data-aos-delay="200">
              <img src="assets/img/Formulaire inscription  FTTIR.png"  style="zoom: 71%; " class="img-fluid" alt="">
              <div class="member-info">
                 <div class="member-info-content">
                    <h3>Formulaire inscription FTTIR</h3>
                   
                 </div>
                 <div class="social"><a href="https://drive.google.com/uc?export=download&id=1dXjNGy7STAsI0AY69FEka0xpd1Au0jiO"> <span>Download</span><i class="bi bi-download"></i> </a> </div>
              </div>
           </div>
        </div>
        <div class="col-lg-4 col-md-6">
           <div class="member" data-aos="zoom-in" data-aos-delay="300">
              <img src="assets/img/formulaire entraineur.png" style="zoom: 71%; " class="img-fluid" alt="">
              <div class="member-info">
                 <div class="member-info-content">
                    <h3>formulaire entraineur</h3>
                   
                  </div>
                  <div class="social"><a href="https://drive.google.com/uc?export=download&id=10UJSZb1JNbNcwdkvY5FFniOfIzQorkAt" >  <span>Download</span><i class="bi bi-download"></i> </a> </div>
              </div>
           </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="member" data-aos="zoom-in" data-aos-delay="300">
             <img src="assets/img/Licence tireur.png" style="zoom: 71%;" class="img-fluid" alt="">
             <div class="member-info">
                <div class="member-info-content">
                   <h3>Licence tireur</h3>
                  
                  </div>
                  <div class="social"><a href="https://drive.google.com/uc?export=download&id=1AXd0OjhWbQKjhDYkGGdRa5kNmSP2tih8"  > Download<i class="bi bi-download"></i> </a> </div>
             </div>
          </div>
       </div>
       <div class="col-lg-4 col-md-6">
        <div class="member" data-aos="zoom-in" data-aos-delay="300">
           <img src="assets/img/emploi du planning.png" style="zoom: 71%;" class="img-fluid" alt="">
           <div class="member-info">
              <div class="member-info-content">
                 <h3> Emploi du planning</h3>
               </div>
               <div class="social"><a href="https://drive.google.com/uc?export=download&id=1vCwyXqu1KTy6-0IkUAwP9CGfGn13zo7s" > Download<i class="bi bi-download"></i> </a> </div>
           </div>
        </div>
     </div>
     <div class="col-lg-4 col-md-6">
      <div class="member" data-aos="zoom-in" data-aos-delay="300">
         <img src="assets/img/Liste Chompionnat Tunisie de Tir.png"  style="zoom: 71%;"class="img-fluid" alt="">
         <div class="member-info">
            <div class="member-info-content">
               <h3>Liste Chompionnat Tunisie de Tir</h3>
            </div>
            <div class="social"><a href="https://drive.google.com/uc?export=download&id=1URlM8LionF9CidlWhJLk9-Lkwh4CFaez"> Download<i class="bi bi-download"></i> </a> </div>
         </div>
      </div>
   </div>
   <div class="col-lg-4 col-md-6">
    <div class="member" data-aos="zoom-in" data-aos-delay="300">
       <img src="assets/img/LIST CH  T A.png" style="zoom: 71%;" class="img-fluid" alt="">
       <div class="member-info">
          <div class="member-info-content">
             <h3>liste cerf-volant</h3>
            </div>
            <div class="social"><a href="https://drive.google.com/uc?export=download&id=1_aSDDTGf2cXAkScR6c0W9j1RQdMnYsiv" > Download<i class="bi bi-download"></i> </a> </div>
       </div>
    </div>
 </div>
 <div class="col-lg-4 col-md-6">
  <div class="member" data-aos="zoom-in" data-aos-delay="300">
     <img src="assets/img/liste junior  carabel et pistolet.png" style="zoom: 71%;"  class="img-fluid" alt="">
     <div class="member-info">
        <div class="member-info-content">
           <h3>liste junior carabel et pistolet</h3>
         </div>
         <div class="social"><a href="https://drive.google.com/uc?export=download&id=124WNkpSsaMvJ_E9XtwzLfELIEn6VfQdB" > Download<i class="bi bi-download"></i> </a> </div>
     </div>
  </div>
</div>
<div class="col-lg-4 col-md-6">
  <div class="member" data-aos="zoom-in" data-aos-delay="300">
     <img src="assets/img/CListe Chompionnat.png" style="zoom: 71%;" class="img-fluid" alt="">
     <div class="member-info">
        <div class="member-info-content">
           <h3>Liste Chompionnat</h3>
         </div>
         <div class="social"><a  href="https://drive.google.com/uc?export=download&id=1HNZFdQKRvSvRfKTdZ_Ys4xgZFr0wHBzK"> Download<i class="bi bi-download"></i> </a> </div>
     </div>
  </div>
</div>
<div class="col-lg-4 col-md-6">
   <div class="member" data-aos="zoom-in" data-aos-delay="300">
      <img src="assets/img/Coupe Tunisie  Ball trap.png" style="zoom: 71%;" class="img-fluid" alt="">
      <div class="member-info">
         <div class="member-info-content">
            <h3>Coupe Tunisie Ball trap</h3>
          </div>
          <div class="social"><a  href="https://drive.google.com/uc?export=download&id=18wx6-zyw9m2akD6bWFGpFkoEBMNRQgK8"> Download<i class="bi bi-download"></i> </a> </div>
      </div>
   </div>
 </div>
     </div>
  </div>
</section>