



 <div  style="
 margin-top: 9%;">
 <div class="issfframe_wrapper border_orange_wrapper spacing-top">
    <div class="issfframe_title border_orange_title">Calendar List</div>
    <div class="border_content"><div class="border_innerbackground">
        <div class="calendar-list-wrapper">
            <div style="    display: -webkit-box; ">
          <div class="col-7 yearselect" style="width: 18%;"><p>CHOOSE</p>
            

            
                <select name="forma" onchange="location = this.value;">
                   
                    <option value="/calendrier2022" selected>2022</option>
                    <option value="/Calendrier" >2023</option>
                    <option value="/calendrier2024">2024</option>
                </select>
</div>
<div class="col-7 yearselect"><p>Type Chompionnat</p>
            

            
  <select name="forma" onchange="location = this.value;">
     
      <option  value="/calendrier2022" selected>Chompionnat Tir a L’arc</option>
      <option value="/calendrier2022" >Chompionnat air Comprimé</option>
      <option value="/calendrier2022" >Chompionnat BALL –Trap</option>
  </select>
</div>
</div>
<div class="col-5 currentyear">

</div>
<div class="row filter">
    <ul aria-label="Accordion group - Dad Jokes" class="accordion-group">
        <li class="accordion-item">
          <button id="accordion-button-1" aria-controls="accordion-content-1" class="accordion-button" aria-expanded="false"><span class="indicator"></span>  janvier</button>
          <div id="accordion-content-1" class="accordion-content" aria-hidden="true">"
      
          </div>
        </li>
        <li class="accordion-item">
          <button id="accordion-button-2" aria-controls="accordion-content-2" class="accordion-button" aria-expanded="false"> février</button>
          <div id="accordion-content-2" class="accordion-content" aria-hidden="true"><div class="cship-wrapper collapse show" id="monthcship_1" style="">
           
        
         
        </div></div>
        </li>
        <li class="accordion-item">
          <button id="accordion-button-3" aria-controls="accordion-content-3" class="accordion-button" aria-expanded="false">  mars</button>
          <div id="accordion-content-3" class="accordion-content" aria-hidden="true">
           
          </div>
        </li>
        <li class="accordion-item">
          <button id="accordion-button-4" aria-controls="accordion-content-4" class="accordion-button" aria-expanded="false">  avril</button>
          <div id="accordion-content-4" class="accordion-content" aria-hidden="true"><div class="cship-wrapper collapse show" id="monthcship_1" style="">
          
        
         
        </div></div>
        </li>  
          <li class="accordion-item">
          <button id="accordion-button-5" aria-controls="accordion-content-5" class="accordion-button" aria-expanded="false">  mai</button>
          <div id="accordion-content-5" class="accordion-content" aria-hidden="true"><div class="cship-wrapper collapse show" id="monthcship_1" style="">
           
        
         
        </div></div>
        </li>
        <li class="accordion-item">
            <button id="accordion-button-6" aria-controls="accordion-content-6" class="accordion-button" aria-expanded="false">juin</button>
            <div id="accordion-content-6" class="accordion-content" aria-hidden="true"></div>
          </li>
          <li class="accordion-item">
            <button id="accordion-button-7" aria-controls="accordion-content-7" class="accordion-button" aria-expanded="false"> juillet</button>
            <div id="accordion-content-7" class="accordion-content" aria-hidden="true"></div>
          </li>
          <li class="accordion-item">
            <button id="accordion-button-8" aria-controls="accordion-content-8" class="accordion-button" aria-expanded="false">  août</button>
            <div id="accordion-content-8" class="accordion-content" aria-hidden="true"></div>
          </li>
          <li class="accordion-item">
            <button id="accordion-button-9" aria-controls="accordion-content-9" class="accordion-button" aria-expanded="false"> septembre</button>
            <div id="accordion-content-9" class="accordion-content" aria-hidden="true"></div>
          </li>
          <li class="accordion-item">
            <button id="accordion-button-10" aria-controls="accordion-content-10" class="accordion-button" aria-expanded="false">octobre</button>
            <div id="accordion-content-10" class="accordion-content" aria-hidden="true"><div class="cship-wrapper collapse show" id="monthcship_1" style="">
                <div class="cship" data-cship-type="intcship" style="">
                    <div class="row">
                        <div class="col-4 order-3 col-sm-3 order-sm-2 col-md-2 order-md-1 col-lg-2 date" style="color: black;">25.10.2022</div>
                        <div class="order-2 order-sm-1 col-md-7 order-md-2 col-lg-8 title"><a routerLink="/resultat" target="_self">Fédération Tunisienne de Tir  </a> <a href="" target="_self" style="color: black;">1eme Tour  </a></div>



                    </div>
                   
                </div>
                <div class="cship" data-cship-type="intcship" style="">
                    <div class="row">
                        <div class="col-4 order-3 col-sm-3 order-sm-2 col-md-2 order-md-1 col-lg-2 date" style="color: black;">26.10.20232</div>
                        <div class="order-2 order-sm-1 col-md-7 order-md-2 col-lg-8 title"><a routerLink="/resultat" target="_self">Fédération Tunisienne de Tir  </a> <a href="" target="_self" style="color: black;">1eme Tour  </a></div>



                    </div>
                   
                </div>
             
            </div></div>
          </li>
          <li class="accordion-item">
            <button id="accordion-button-11" aria-controls="accordion-content-11" class="accordion-button" aria-expanded="false"> novembre</button>
            <div id="accordion-content-11" class="accordion-content" aria-hidden="true">
                <div class="cship" data-cship-type="intcship" style="">
                    <div class="row">
                        <div class="col-4 order-3 col-sm-3 order-sm-2 col-md-2 order-md-1 col-lg-2 date" style="color: black;">15.11.2022</div>
                        <div class="order-2 order-sm-1 col-md-7 order-md-2 col-lg-8 title"><a routerLink="/resultat" target="_self">Fédération Tunisienne de Tir  </a> <a href="" target="_self" style="color: black;"> &emsp; &nbsp; 2eme Tour  </a></div>



                    </div>
                    <div class="row">
                        <div class="col-4 order-3 col-sm-3 order-sm-2 col-md-2 order-md-1 col-lg-2 date" style="color: black;">16.11.2022</div>
                        <div class="order-2 order-sm-1 col-md-7 order-md-2 col-lg-8 title"><a routerLink="/resultat" target="_self">Fédération Tunisienne de Tir  </a> <a href="" target="_self" style="color: black;"> &emsp; &nbsp;  2eme Tour  </a></div>



                    </div>
                   
                </div>
            </div>
          </li>
          <li class="accordion-item">
            <button id="accordion-button-12" aria-controls="accordion-content-12" class="accordion-button" aria-expanded="false"> décembre</button>
            <div id="accordion-content-12" class="accordion-content" aria-hidden="true"><div class="cship-wrapper collapse show" id="monthcship_1" style="">
                <div class="cship" data-cship-type="intcship" style="">
                    <div class="row">
                        <div class="col-4 order-3 col-sm-3 order-sm-2 col-md-2 order-md-1 col-lg-2 date" style="color: black;">10.12.2022</div>
                        <div class="order-2 order-sm-1 col-md-7 order-md-2 col-lg-8 title"><a  routerLink="/resultat" target="_self">ESKIT OLYMPIQUE &emsp; &nbsp; &emsp; &nbsp; Association Reg des chasseurs-Monastir &emsp; &nbsp; &emsp; &nbsp;</a> <a href="" target="_self" style="color: black;">1eme Tour  &emsp; &nbsp; &emsp; &nbsp;Jammel </a></div>



                    </div>
                    <div class="row">
                        <div class="col-4 order-3 col-sm-3 order-sm-2 col-md-2 order-md-1 col-lg-2 date" style="color: black;">04.02.2023</div>
                        <div class="order-2 order-sm-1 col-md-7 order-md-2 col-lg-8 title"><a routerLink="/resultat" target="_self">Fédération Tunisienne de Tir &emsp; &nbsp; </a> <a href="" target="_self" style="color: black;">2eme Tour  &emsp; &nbsp; &emsp; &nbsp; Salle Fédéral BENI KHAKLED</a></div>



                    </div>
                    <div class="row">
                        <div class="col-4 order-3 col-sm-3 order-sm-2 col-md-2 order-md-1 col-lg-2 date" style="color: black;">29.12.2022</div>
                        <div class="order-2 order-sm-1 col-md-7 order-md-2 col-lg-8 title"><a routerLink="/resultat" target="_self">Fédération Tunisienne de Tir &emsp; &nbsp; </a> <a href="" target="_self" style="color: black;">1 er Tour </a></div>



                    </div>

                    <div class="row">
                        <div class="col-4 order-3 col-sm-3 order-sm-2 col-md-2 order-md-1 col-lg-2 date" style="color: black;">30.12.2022</div>
                        <div class="order-2 order-sm-1 col-md-7 order-md-2 col-lg-8 title"><a routerLink="/resultat" target="_self">Fédération Tunisienne de Tir &emsp; &nbsp; </a> <a href="" target="_self" style="color: black;">1 er Tour </a></div>



                    </div>
                   
                </div>
            
             
            </div></div>
          </li>
      </ul>
   






</div></div>
<div id="content_bottom" class="issfpage content_bottom"></div>
