

   <section id="chefs" class="chefs" style="margin-top:10%;margin-block-end:10%">
      <div class="container" data-aos="fade-up" style="text-align: center;">
         <div class="section-title">
           
            <p>Ancien Président</p>
         </div>
         <div class="row" style="text-align: center;">
            <div class=" col-lg-4">
               <div class="member" data-aos="zoom-in" data-aos-delay="100">
                  <img width="44%"  src="assets/img/Photo Samir Chouchene 001.jpg" class="img-fluid imagepresident" alt="">
                  <div class="member-info">
                  
                  </div>
               </div>
               <div class="member-info">
                  <div class="member-info-content">
                     <h2 style="color:black ;">Samir Chouchene</h2>
                    
                  </div>
               </div>
            </div>
        
          
            <div class=" col-lg-4">
               <div class="member" data-aos="zoom-in" data-aos-delay="100">
                  <img width="44%"  src="assets/img/Hechmi saidi.jpg" class="img-fluid imagepresident" alt="">
                  <div class="member-info">
                  
                  </div>
               </div>
               <div class="member-info">
                  <div class="member-info-content">
                     <h2 style="color:black ;">Hechmi saidi</h2>
                    
                  </div>
               </div>
            </div>

       
            <div class="col-lg-4 ">
               <div class="member" data-aos="zoom-in" data-aos-delay="100">
                  <img width="44%"  src="assets/img/Tahar Matmati.jpg" class="img-fluid imagepresident" alt="">
                  <div class="member-info">
                     
                  </div>
               </div>
               <div class="member-info">
                  <div class="member-info-content">
                     <h2 style="color:black ;">Tahar Matmati</h2>
                    
                  </div>
               </div>
            </div>
            <div class="col-lg-4 ">
               <div class="member" data-aos="zoom-in" data-aos-delay="100">
                  <img width="44%"  src="assets/img/Tarek FAKHFEKH.jpg" class="img-fluid imagepresident" alt="">
                  <div class="member-info">
                   
                  </div>
               </div>
               <div class="member-info">
                  <div class="member-info-content">
                     <h2 style="color:black ;">Tarek FAKHFEKH</h2>
                    
                  </div>
               </div>
            </div>
         </div>
         
      </div>

   
      
  
   </section>


