<section id="book-a-table" class="book-a-table" style="margin-top: 9%;margin-block-end:9%" >
   <div class='signup-container' >
    
      <div class='right-container' >
        <header>
          <h1>Formulaire</h1>
         
       
            <div class='pets-photo'>
              <div class="container">
               
                <div class="avatar-upload">
                    <div class="avatar-edit">
                        <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" />
                        <label for="imageUpload"></label>
                    </div>
                    <div class="avatar-preview">
                        <div id="imagePreview" style="background-image: url(http://i.pravatar.cc/500?img=7);">
                        </div>
                    </div>
                </div>
            </div>
            
            </div>
       
         
          <div class='set'>
            <div class='pets-name'>
              <label for='pets-name'>Nom & Prenom</label>
              <input id='pets-name' placeholder="Nom & Prenom" type='text'>
            </div>
            <div class='pets-breed'>
              <label for='pets-breed'>Num Passport</label>
              <input id='pets-Numpassport' placeholder="Num Passport" type='text'>
            </div>
          </div>
          <div class='set'>
          
            <div class='pets-breed'>
              <label for='pets-breed'>Mail</label>
              <input id='pets-mail' placeholder="Mail" type='text'>
            </div>
            <div class='pets-breed'>
              <label for='pets-breed'>Code CIO</label>
              <input id='pets-mail' placeholder="Code CIO" type='number'>
            </div>
          </div>
          <div class='set'>
            <div class='pets-breed'>
              <label for='pets-breed'>Pays </label>
              <input id='pets-Pays' placeholder="Pays" type='text'>
            </div>
            <div class='pets-gender'>
              <label for='pet-gender-female'>Position</label>
              <div class='radio-container'>
                <input checked='' id='pet-Officiel' name='pet-gender' type='radio' value='female'>
                <label for='pet-Officiel'>Officiel</label>
                <input id='pet-Athléte' name='pet-gender' type='radio' value='male'>
                <label for='pet-Athléte'>Athléte</label>
              </div>
            </div>
         
          </div>
         
          <footer>
            <div class='set'>
          
              <button id='next'>Envoyer</button>
            </div>
            
          </footer>
        </header>
      
      </div>
    </div>
    
 </section>