
      
<div style="
margin-top: 9%; margin-block-end: 25%;">


    <div class="issfframe_wrapper border_orange_wrapper spacing-top">

        <div class="issfframe_title border_orange_title">Resultat</div>
           <div class="border_content">
              <div class="border_innerbackground">
                 <div class="calendar-list-wrapper">
                    <div class="row year-wrapper">
                       <div style="color: black;" class="col-7 yearselect">
                        <h2> Fédération Tunisienne de Tir</h2>
                        <h3>10.01.2023 &emsp; &nbsp; 3eme Tour</h3>
                        <div class="" ><button routerLink="/formulaire" >Voir PDF </button></div>

                       </div>
                    </div>
                    <div class="row year-wrapper">
                     <div style="color: black;" class="col-7 yearselect">
                      <div class="" ><button routerLink="/formulaire" >View Start List as PDF </button></div>

                     </div>
                  </div>
                </div>
            </div>
    </div>
</div>            
